nbproject/
test.php
core/config/common.config.php
plugins
sftp-config.json
.project
.DS_Store
Thumbs.db
*.php~
docs/_site/
docs/Gemfile.lock
docs/.sass-cache/
.remote-sync.json
.vscode
*.xml
resources/demond/test.py
*.pyc
resources/data/192168063
certbot
resources/.idea/resources.iml
resources/data/ptzpreset
resources/demond/.idea/demond.iml
desktop/img/camera.png
desktop/img/camera1092.png
resources/demond/.htaccess
